@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.disable-text-highlight {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.tile {
    min-height: 30px;
    min-width: 30px;
}

.tile::after {
    content:"";
    float: left;
    display: block;
    padding-top: 100%;
}

.tile-content {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-hidden {
    background-color: #B8B8B8;
    transition: background-color 0.3s;
    border: outset 3px;
    border-radius: 5px;
}
    .tile-hidden:hover {
        background-color: #C8C8C8;
    }

.tile-revealed {
    background-color: Gainsboro;
    transition: background-color 0.3s;
    border-radius: 5px;
    border: solid 1px #ccc;
}

.minesweeper {
    background-color: #f9f9f9;
}

@media (min-width: 768px) {
    .minesweeper-12 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 992px) {
    .minesweeper-12 {
        padding-left: 150px;
        padding-right: 150px;
    }
    .minesweeper-16 {
        padding-left: 100px;
        padding-right: 100px;
    }
    .minesweeper-20 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1200px) {
    .minesweeper-12 {
        padding-left: 200px;
        padding-right: 200px;
    }
    .minesweeper-16 {
        padding-left: 175px;
        padding-right: 175px;
    }
    .minesweeper-20 {
        padding-left: 150px;
        padding-right: 150px;
    }
    .minesweeper-30 {
        padding: 0px;
    }
}

