@page "/"


<div class="container">
    <h1>@message</h1>

    Remaining mines: @remainingMines
    Elapsed time: @elapsedTime

    @for (int i = 0; i < tiles.Length; i++)
    {
        int row = i;
        <div class="row flex-nowrap" oncontextmenu="return false">
            @for (int j = 0; j < tiles[i].Length; j++)
            {
                int col = j;
                TileProperty tile = tiles[i][j];
                <div class="col" @ontouchstart="TouchStart" @ontouchend="(e) => TouchEnd(e, tile)" @onmouseup="(e) => OnClick(e, tile)" style="background-color:@tile.BackgroundColor; border:solid 1px; min-height:30px; min-width:25px; text-align:center">
                    @tile.Message
                </div>
            }
        </div>
    }

    <EditForm Model="gridSize">
        <InputNumber @bind-Value="gridSize" min="5" max="20"></InputNumber>
        <InputNumber @bind-Value="totalMines" min="1" max="@(gridSize * gridSize - 1)"></InputNumber>
        <button @onclick="Reset" class="btn-outline-primary">Reset</button>
    </EditForm>
    <MineSweeperWeb.Pages.Components.ScoreBoard></MineSweeperWeb.Pages.Components.ScoreBoard>
</div>

@code {
    private int gridSize = 8;
    private int totalMines = 10;
    private int remainingMines;
    private bool gameOver = false;
    private bool firstTouch = true;
    private string elapsedTime;
    private int revealedSuccess;
    private int revealedToWin;
    private string message;
    private bool lastEventWasTouch;

    private TileProperty[][] tiles;
    private Random generator = new Random();
    private System.Diagnostics.Stopwatch stopwatch = new System.Diagnostics.Stopwatch();
    private System.Diagnostics.Stopwatch longPressWatch = new System.Diagnostics.Stopwatch();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Reset();
        StartTimer();
    }

    private void Reset()
    {
        gameOver = false;
        firstTouch = true;
        stopwatch.Stop();
        remainingMines = totalMines;
        elapsedTime = "0 ms";
        revealedSuccess = 0;
        revealedToWin = (gridSize * gridSize) - totalMines;
        message = "You got this!";

        tiles = new TileProperty[gridSize][];
        for (int i = 0; i < tiles.Length; i++)
        {
            tiles[i] = new TileProperty[gridSize];
            for (int j = 0; j < tiles[i].Length; j++)
            {
                tiles[i][j] = new TileProperty();
                tiles[i][j].Row = i;
                tiles[i][j].Col = j;
            }
        }

        int count = 0;
        while (count < totalMines)
        {
            int randomRow = generator.Next(0, gridSize);
            int randomCol = generator.Next(0, gridSize);
            TileProperty tile = tiles[randomRow][randomCol];

            if (!tile.IsBomb)
            {
                tile.IsBomb = true;
                count++;
            }
        }

        for (int i = 0; i < tiles.Length; i++)
        {
            for (int j = 0; j < tiles[i].Length; j++)
            {
                var tile = tiles[i][j];
                tile.SurroundingCount = CountNeighboringBombs(tile);
            }
        }
    }

    private async Task StartTimer()
    {
        while (true)
        {
            await Task.Delay(1000);
            if (stopwatch.IsRunning)
            {
                elapsedTime = stopwatch.ElapsedMilliseconds.ToString() + " ms";
                StateHasChanged();
            }
        }
    }

    private void TouchStart(TouchEventArgs e)
    {
        Console.WriteLine("Touch Started");
        longPressWatch.Restart();
        lastEventWasTouch = true;
    }

    private void TouchEnd(TouchEventArgs e, TileProperty tile)
    {
        longPressWatch.Stop();
        Console.WriteLine("Touch hold lasted: {0}", longPressWatch.ElapsedMilliseconds);
        if (gameOver || tile.IsRevealed)
        {
            return;
        }
        if (firstTouch)
        {
            firstTouch = false;
            stopwatch.Restart();
        }
        if (longPressWatch.ElapsedMilliseconds > 200)
        {
            Console.WriteLine("Long touch");
            HandleFlagClick(tile);
        }
        else
        {
            HandleRegularClick(tile);
        }
    }

    private void OnClick(MouseEventArgs e, TileProperty tile)
    {
        if (gameOver || tile.IsRevealed || lastEventWasTouch)
        {
            lastEventWasTouch = false;
            return;
        }

        Console.WriteLine("Normal click");

        if (firstTouch)
        {
            firstTouch = false;
            stopwatch.Restart();
        }

        if (e.Button == 2)
        {
            HandleFlagClick(tile);
        }
        else
        {
            HandleRegularClick(tile);
        }
    }

    // Long touch-screen press and right click
    private void HandleFlagClick(TileProperty tile)
    {
        if (tile.IsFlagged)
        {
            tile.IsFlagged = false;
            remainingMines++;
        }
        else
        {
            tile.IsFlagged = true;
            remainingMines--;
        }
    }

    // Regular touch and left click
    private void HandleRegularClick(TileProperty tile)
    {
        if (tile.IsFlagged)
        {
            return;
        }
        tile.IsRevealed = true;
        if (tile.IsBomb)
        {
            gameOver = true;
            stopwatch.Stop();
            RevealAllBombs();
            message = "You lost :(";
            return;
        }

        if (tile.SurroundingCount == 0)
        {
            RevealAllSurrounding(tile);
        }

        revealedSuccess++;
        if (revealedSuccess == revealedToWin)
        {
            stopwatch.Stop();
            message = "Victory!";
            gameOver = true;
        }
    }

    private void RevealAllBombs()
    {
        for (int i = 0; i < tiles.Length; i++)
        {
            for (int j = 0; j < tiles[i].Length; j++)
            {
                if(tiles[i][j].IsBomb)
                {
                    tiles[i][j].IsRevealed = true;
                }
            }
        }
    }

    private int CountNeighboringBombs(TileProperty tile)
    {
        int total = 0;

        for (int xoff = -1; xoff <= 1; xoff++)
        {
            for (int yoff = -1; yoff <= 1; yoff++)
            {
                var i = tile.Row + xoff;
                var j = tile.Col + yoff;
                if (i > -1 && i < gridSize && j > -1 && j < gridSize)
                {
                    var neighbor = tiles[i][j];
                    if (neighbor.IsBomb)
                    {
                        total++;
                    }
                }
            }
        }

        return total;
    }

    private void RevealAllSurrounding(TileProperty tile)
    {
        for (int xoff = -1; xoff <= 1; xoff++)
        {
            for (int yoff = -1; yoff <= 1; yoff++)
            {
                var i = tile.Row + xoff;
                var j = tile.Col + yoff;
                if (i > -1 && i < gridSize && j > -1 && j < gridSize)
                {
                    var neighbor = tiles[i][j];
                    if(neighbor.IsRevealed)
                    {
                        continue;
                    }
                    neighbor.IsRevealed = true;
                    revealedSuccess++;
                    if (neighbor.SurroundingCount == 0)
                    {
                        RevealAllSurrounding(neighbor);
                    }
                }
            }
        }
    }
}