@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Configuration
@inject IChatHubMessagesService chatHubMessagesService
@inject IConfiguration configuration
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@implements IDisposable

<h3>Chat Hub</h3>
<div id="chat" class="mb-3" style="height: 300px; overflow-y: scroll">
    <div style="display:flex; flex-direction: column;">
        @foreach (var message in messages)
        {
            <p>
                @message
            </p>
        }
    </div>
</div>
<EditForm EditContext="@editContext" OnValidSubmit="SendMessage">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <span class="oi oi-pencil"></span>
            </span>
        </div>
        <input type="text" class="form-control" @bind-value="model.Message" placeholder="Say hello!" disabled="@IsDisabled" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" disabled="@IsDisabled">Send</button>
        </div>
    </div>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    private string SessionCookie { get; set; }

    private CustomDifficulty customDifficulty = new CustomDifficulty();

    private HubConnection hubConnection;
    LinkedList<string> messages = new LinkedList<string>();

    private SendChatMessage model = new SendChatMessage();

    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(model);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var chatHubMessages = await chatHubMessagesService.GetAll();
            messages = new LinkedList<string>(chatHubMessages.Reverse().Select(FormatUserMessage));

            var cookie = new System.Net.Cookie(".AspNetCore.Identity.Application", SessionCookie, "/", configuration["Domain"]);
            hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/signalRHub"), options =>
                {
                    options.Cookies.Add(cookie);
                })
                .Build();

            hubConnection.On<string>("ReceiveSystemMessage", ReceiveSystemMessage);
            hubConnection.On<ChatHubMessageDto>("ReceiveUserMessage", ReceiveUserMessage);
            await hubConnection.StartAsync();
        }
    }

    public Task ReceiveSystemMessage(string message)
    {
        messages.AddFirst(message);
        if (messages.Count > 100)
        {
            messages.RemoveLast();
        }
        StateHasChanged();
        return Task.CompletedTask;
    }

    public Task ReceiveUserMessage(ChatHubMessageDto message)
    {
        messages.AddFirst(FormatUserMessage(message));
        if (messages.Count > 100)
        {
            messages.RemoveLast();
        }
        StateHasChanged();
        return Task.CompletedTask;
    }

    public async Task SendMessage()
    {
        if (editContext.Validate())
        {
            var stored = model.Message;
            model.Message = string.Empty;
            var authState = await authenticationStateTask;
            if (authState.User.Identity.IsAuthenticated)
            {
                await hubConnection.InvokeAsync("SendMessage", stored);
            }
        }
    }

    public void Dispose()
    {
        if (hubConnection != null)
        {
            hubConnection.DisposeAsync();
        }
    }

    private string FormatUserMessage(ChatHubMessageDto message) => $"{message.Date.ToLocalTime()} {message.UserName} : {message.Content}";
    private bool IsDisabled => string.IsNullOrWhiteSpace(SessionCookie);
}
